@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size: 60px;">BET4HONOR - IN IT TO WIN IT</h1>
    <p class="lead"></p>
    <div class="jumbotronContent">


        <iframe width="300" height="200" src="https://www.youtube.com/embed/d6wRkzCW5qI" frameborder="1" allowfullscreen></iframe>
        <p style="margin-left: 25px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut odio in eros sodales imperdiet. Nulla facilisi. Morbi elementum pellentesque metus, semper malesuada erat luctus quis. In in orci mattis urna facilisis porttitor at posuere nibh. Sed mattis elit a cursus venenatis. Nam ac viverra tortor. Fusce egestas commodo facilisis.

            Etiam fringilla neque eu sapien fringilla consectetur. Curabitur non dapibus odio, sed rhoncus ante. Maecenas ipsum elit, mattis id urna id, blandit vulputate lacus. Praesent nec massa dui. Praesent ante nisl, mattis quis lacus vel, egestas porttitor mauris. Aenean accumsan lorem quis tortor mattis tristique. Fusce elementum lorem laoreet rutrum ornare. Maecenas porta efficitur felis, in iaculis arcu egestas at.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Look at league standings</h2>
        <p>
          In order to place a good bet, make sure to take a look at the current league standings! 
        </p>
        <a class="btn btn-primary" @Html.ActionLink("League table", "ListTable", "Home") </a>
    </div>
    <div class="col-md-4">
        <h2>Place a bet</h2>
        <p>Do you feel confident? Head over and place your bet instantly!</p>
        <a class="btn btn-primary" @Html.ActionLink("Place a bet", "PlaceBets", "Home")</a>
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>Look at the results from the games this season!</p>
        <a class="btn btn-primary" @Html.ActionLink("Game results", "OldResult", "Home")</a>
    </div>
</div>